<div class="login-background">
  <div class="login-backgroundimage-align">
    <img
      src="https://raw.githubusercontent.com/MyCookieBook/CookieBookFE/master/src/pictures/loginPage-background.png)"
      class="login-img"
    />
  </div>
</div>

<mat-card>
  <mat-tab-group
    mat-align-tabs="start"
    animationDuration="0ms"
    [color]="basic"
    [backgroundColor]="basic">
    <mat-tab>
      <ng-template mat-tab-label>Test</ng-template>
      Test
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Login</ng-template>
      <app-login-data></app-login-data>
    </mat-tab>
  </mat-tab-group>
</mat-card>
