<img
  src={background}
  class="login-img"
/>
<mat-card>
  <mat-tab-group
    mat-align-tabs="start"
    animationDuration="0ms"
    [color]="basic"
    [backgroundColor]="basic">
    <mat-tab lable="Login">
      <login-data.component></login-data.component>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<div class="login-background">
  <div class="login-backgroundimage-align">
    <img
      src={background}
      alt="Hintergrundbild Login - Cookies"
      class="login-img"
    />
  </div>

</div>
