<p></p>
<p>
  <mat-form-field hideRequiredMarker="true" floatLabel="auto">
    <mat-label>E-Mail</mat-label>
    <input matInput placeholder="Enter your Mail address" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessageMail()}}</mat-error>
  </mat-form-field>
</p>

<p>
  <mat-form-field hideRequiredMarker="true" floatLabel="auto">
    <mat-label>Password</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter your Password" [formControl]="password" required>
    <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
    <button mat-icon-button
            matSuffix (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</p>

<p>
  <mat-form-field hideRequiredMarker="true" floatLabel="auto">
    <mat-label>Confirm Password</mat-label>
    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Confirm your Password" [formControl]="confirmPassword" required>
    <mat-error *ngIf="!getEqualPassword()">{{getErrorMessageConfirmPassword()}}</mat-error>
    <button mat-icon-button
            matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
            [attr.aria-label]="'Hide confirm password'"
            [attr.aria-pressed]="hideConfirmPassword">
      <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</p>

  <div>
    <mat-checkbox color="primary"><!--[formControl]="acceptDSGVO" required-->
      Confirm the DSGVO
      <!--<mat-error *ngIf="acceptDSGVO.invalid">{{getErrorMessageDSGVO()}}</mat-error>-->
    </mat-checkbox>
  </div>
<p></p>

<div class="div-margin" [hidden]="getError()">
  <button mat-raised-button color="primary" (click)="checkRegister()">
    <a routerLink="/" routerLinkActive="active" style="text-decoration:none; color:white">Register</a>
  </button>
</div>
<div class="div-margin" [hidden]="!getError()">
  <button mat-raised-button disabled>
    Register
  </button>
</div>
