<p></p>
<p>
  <mat-form-field hideRequiredMarker="true" floatLabel="auto">
    <mat-label>E-Mail</mat-label>
    <input matInput placeholder="Enter your Mail address" required>
  </mat-form-field>
</p>

<p>
  <mat-form-field hideRequiredMarker="true" floatLabel="auto">
    <mat-label>Password</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter your Password">
    <button mat-icon-button
            matSuffix (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</p>

<p>
  <mat-form-field hideRequiredMarker="true" floatLabel="auto">
    <mat-label>Confirm Password</mat-label>
    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Confirm your Password">
    <button mat-icon-button
            matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
            [attr.aria-label]="'Hide confirm password'"
            [attr.aria-pressed]="hideConfirmPassword">
      <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</p>

<p>
  <mat-checkbox
    required
    [checked]="false"
    color="primary">
    Confirm the DSGVO
  </mat-checkbox>
</p>

<div class="div-margin">
  <button mat-raised-button color="primary">Register</button> <!--(click)="registerUser()"-->
</div>
