.example-spacer {
  flex: 1 1 auto;
}

.mat-form-field-empty.mat-form-field-label {
    color: white;
}

::ng-deep input.mat-input-element {
  color: white;
}

::placeholder{
  color: white;
}

/*.header {
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
}*/
