<mat-toolbar color="primary">
  <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>
      <a routerLink="/" routerLinkActive="active" style="text-decoration:none; color:white">home</a>
    </mat-icon>
  </button>
  <span><a routerLink="/" routerLinkActive="active" style="text-decoration:none; color:white">MyCookieBook</a></span>
  <span class="example-spacer"></span>
  <div>
    <button mat-button class="button-font">
      <a routerLink="/login" routerLinkActive="active" style="text-decoration:none; color:white">Login</a>
    </button>
  </div>
  <div class="example-button-container">
    <button mat-icon-button>
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button class="button-font">Recipes</button>
  </div>
  <div>
    <mat-form-field apperance="none" floatLabel="never"><input matInput placeholder="Search" class="input-font"></mat-form-field>
  </div>
  <div class="example-button-container">
    <button mat-icon-button>
      <mat-icon>
        <a routerLink="/profile" routerLinkActive="active" style="text-decoration:none; color:white">account_circle</a>
      </mat-icon>
    </button>
  </div>
  <div class="example-button-container">
    <button mat-icon-button>
      <mat-icon>
        <a routerLink="/login" routerLinkActive="active" style="text-decoration:none; color:white">logout</a>
      </mat-icon>
    </button>
  </div>
</mat-toolbar>
