<p></p>
<p>
  <mat-form-field hideRequiredMarker="true" floatLabel="auto">
    <mat-label>E-Mail</mat-label>
    <input matInput placeholder="Enter your E-Mail" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessageMail()}}</mat-error>
  </mat-form-field>
</p>
<p>
  <mat-form-field hideRequiredMarker="true" floatLabel="auto">
    <mat-label>Password</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter your Password" [formControl]="password" required>
    <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
    <button mat-icon-button
            matSuffix (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</p>
<p>
  <a routerLink="/contact/" routerLinkActive="active" style="text-decoration:none">Forgot your password?</a>
</p>
<div class="div-margin" [hidden]="getError()">
  <button mat-raised-button color="primary" (click)="handleLogin()">
    Log in
  </button>
</div>
<div>
  <p *ngIf="userId === error40">Hier ist ein Fehler 40 beim Login aufgetaucht.</p>
</div>
<div class="div-margin" [hidden]="!getError()">
  <button mat-raised-button disabled>
    Log in
  </button>
</div>
