<p></p><p></p>
<p>
  <mat-form-field hideRequiredMarker="true" floatLabel="auto">
    <mat-label>E-Mail</mat-label>
    <input matInput required>
  </mat-form-field>
</p>
<p>
  <mat-form-field hideRequiredMarker="true" floatLabel="auto">
    <mat-label>Password</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</p>
<div class="div-margin">
  <button mat-raised-button color="primary">Login</button>
</div>
