@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$color-bgBody: #FFF8DC; /*Body Background*/
$color-bgBars: #F5DEB3; /*Background Bars*/
$color-highlight: #DEB887; /*Highlighting stuff and background page*/
$color-text: black;
$color-current: #FFE4B5; /*Maplinie und Aktuelle Seite*/
$color-btn: #FFCC80;  /*Buttons*/

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $color-bgBody;
  color: $color-text;
}

.example-spacer {
  flex: 1 1 auto;
}

.button{
  background-color: $color-btn;
  border: none;
  color: white;
  font-size: 20px;
}
.example-button-container {
  display: flex;
  justify-content: center;
  width: 60px;
}
.div-margin{
  margin: 1rem;
}
