<header>
  <app-navbar></app-navbar>
</header>
<body>
  <mat-grid-list cols="2" rows="6" rowHeight="3:1"> <!--rowHeight="5:2"-->
    <mat-grid-tile class="appetizer"> <!--colspan="1" rowspan="3"-->
      Appetizer
    </mat-grid-tile>
    <mat-grid-tile>
      Picture
    </mat-grid-tile>
    <mat-grid-tile>
      Picture
    </mat-grid-tile>
    <mat-grid-tile>
      Main Dish
    </mat-grid-tile>
    <mat-grid-tile>
      Dessert
    </mat-grid-tile>
    <mat-grid-tile>
      Picture
    </mat-grid-tile>
    <mat-grid-tile>
      Picture
    </mat-grid-tile>
    <mat-grid-tile>
      Drinks
    </mat-grid-tile>
    <mat-grid-tile>
      Basic Recipes
    </mat-grid-tile>
    <mat-grid-tile>
      Picture
    </mat-grid-tile>
    <mat-grid-tile>
      Picture
    </mat-grid-tile>
    <mat-grid-tile>
      Other
    </mat-grid-tile>
  </mat-grid-list>
</body>
<footer>
  <app-footer></app-footer>
</footer>
<router-outlet></router-outlet>
