<header>
  <app-navbar></app-navbar>
</header>
<body>
  <mat-grid-list cols="2" rows="6" rowHeight="3:1">
    <mat-grid-tile [style.background]="'royalblue'">
      <button mat-button class="button-font">
        <h1><b>Appetizer</b></h1>
      </button>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'royalblue'">
      <img class="tile-image" src="https://raw.githubusercontent.com/MyCookieBook/CookieBookFE/master/src/pictures/appetizer.jpg" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'steelblue'">
      <img class="tile-image" src="https://raw.githubusercontent.com/MyCookieBook/CookieBookFE/master/src/pictures/mainDishes.jpg" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'steelblue'">
      <button mat-button class="button-font">
        <h1><b>Main Dish</b></h1>
      </button>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'skyblue'">
      <button mat-button class="button-font">
        <h1><b>Dessert</b></h1>
      </button>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'skyblue'">
      <img class="tile-image" src="https://raw.githubusercontent.com/MyCookieBook/CookieBookFE/master/src/pictures/dessert.jpg" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'aquamarine'">
      <img class="tile-image" src="https://raw.githubusercontent.com/MyCookieBook/CookieBookFE/master/src/pictures/drinks.jpg" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'aquamarine'">
      <button mat-button class="button-font">
        <h1><b>Drinks</b></h1>
      </button>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'mediumseagreen'">
      <button mat-button class="button-font">
        <h1><b>Basic Recipes</b></h1>
      </button>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'mediumseagreen'">
      <img class="tile-image" src="https://raw.githubusercontent.com/MyCookieBook/CookieBookFE/master/src/pictures/basics.jpeg" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'limegreen'">
      <img class="tile-image" src="https://raw.githubusercontent.com/MyCookieBook/CookieBookFE/master/src/pictures/other.jpg" layout-fill>
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'limegreen'">
      <button mat-button class="button-font">
        <h1><b>Other</b></h1>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</body>
<footer>
  <app-footer></app-footer>
</footer>

<router-outlet></router-outlet>
