<header>
  <app-navbar></app-navbar>
</header>
<body>
  <div>
    <p></p> &nbsp;&nbsp;
    <button mat-raised-button color="basic">
      Category
    </button>
  </div>
  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile colspan="1" rowspan="3">
      <mat-card>
        <mat-card-header>
          <div [hidden]="edit">
            <mat-card-title><b>{{recipe_title}}</b> &nbsp; by {{recipe_author}}</mat-card-title>
          </div>
          <div [hidden]="!edit">
            <mat-card-title>
              <mat-form-field hideRequiredMarker="false" floatLabel="always">
                <mat-label><b>{{recipe_title}}</b></mat-label>
                <input matInput (keyup)="inputTitle($event)" [formControl]="title" required>
                <mat-error *ngIf="title.invalid">{{getErrorMessageTitle()}}</mat-error>
              </mat-form-field>
              &nbsp; by &nbsp;
              <mat-form-field hideRequiredMarker="false" floatLabel="always">
                <mat-label><b>{{recipe_author}}</b></mat-label>
                <input matInput (keyup)="inputAuthor($event)" [formControl]="author" required>
                <mat-error *ngIf="author.invalid">{{getErrorMessageAuthor()}}</mat-error>
              </mat-form-field>
            </mat-card-title>
          </div>
        </mat-card-header>
        <mat-card-content>
          <p></p>
          <div>
            <mat-icon>schedule</mat-icon> &nbsp;
            {{recipe_duration}} min
          </div>
          <div>
            <mat-icon>bug_report</mat-icon> &nbsp;
            {{recipe_values}}
          </div>
          <div>
            <mat-icon>leaderboard</mat-icon> &nbsp;
            <b *ngFor="let x of getNumber(5)">
              <img mat-card-image text-align="inline" align="textbottom" src="https://raw.githubusercontent.com/MyCookieBook/CookieBookFE/master/src/pictures/Logo.jpg" alt="Cookie">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </b>
          </div>
          <br>
          <div>
            <p>
              <b>Ingredients</b>
            </p>
            <table mat-table>
              <ng-container matColumnDef="quantity">
                <td mat-cell>Quantity</td>
              </ng-container>
              <ng-container matColumnDef="ingredient">
                <td mat-cell>Ingredient</td>
              </ng-container>
              <tr mat-row></tr>
            </table>
          </div>
          <p></p>
          <div>
            <p>
              <b>Material</b>
            </p>
            <table mat-table>
              <ng-container matColumnDef="material">
                <td mat-cell>Material</td>
              </ng-container>
              <tr mat-row></tr>
            </table>
          </div>
          <p></p>
          <div>
            <p>
              <b>Steps</b>
            </p>
            <table mat-table>
              <ng-container matColumnDef="steps">
                <td mat-cell>Step</td>
              </ng-container>
              <tr mat-row></tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="3">
      <mat-card>
        <div>
          <img class="image" mat-card-image src="{{picture_src}}" alt="Image">
        </div>
        <div [hidden]="!edit">
          <button mat-icon-button>
            Change picture &nbsp;
            <mat-icon color="primary">
              add_box
            </mat-icon>
          </button>
        </div>
        <p></p>
        <div>
          <a href="https://dhbw-karlsruhe.myjetbrains.com/youtrack/dashboard">More information</a>
        </div>
        <p></p>
        <div>
          <button mat-raised-button color="basic">
            Tag
          </button>
        </div>
        <p></p>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
    <!--<mat-grid-tile colspan="2" rowspan="1">-->
      <div class="div-margin" align="center" [hidden]="edit">
        <button mat-raised-button color="primary">Bake</button>
        &nbsp; &nbsp; &nbsp;
        <!--<button mat-raised-button>Share</button>
        &nbsp; &nbsp; &nbsp;-->
        <button mat-raised-button (click)="edit=true">Edit</button>
        &nbsp; &nbsp; &nbsp;
        <button mat-raised-button>Delete</button>
      </div>
      <div class="div-margin" [hidden]="!edit">
        <button mat-raised-button color="{{color}}" (click)="clickSave()">Save</button>
        &nbsp; &nbsp; &nbsp;
        <button mat-raised-button (click)="clickCancel()">Cancel</button>
      </div>
    <!--</mat-grid-tile>
  </mat-grid-list>-->
</body>
<footer>
  <app-footer></app-footer>
</footer>

<router-outlet></router-outlet>
