<header>
  <app-navbar></app-navbar>
</header>
<body>
<div class="login-background" align="center">
  <br>
  <br>
  <mat-card class="info-card">
    <mat-card-header>
      <mat-card-title style="text-align: center;"><b>Help</b></mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-card" align="left">
      <br>
      <p><mat-icon style="color:darkgray">quiz</mat-icon>&nbsp;<b>What is MyCookieBook?</b>
      <p>MyCookieBook is your own personal recipe book and allows you to store recipes on MyCookieBook’s cloud and
        access them through your phones, tablets, laptops and computers.</p>
      <br>
      <p><mat-icon style="color:darkgray">quiz</mat-icon>&nbsp;<b>Why do I need to register/ create an account?</b></p>
      <p>You need a personal account to keep your recipes private and accessible across your devices.</p>
      <br>
      <p><mat-icon style="color:darkgray">quiz</mat-icon>&nbsp;<b>How do I log out?</b></p>
      <p>In the navigation bar above there is a button on the far right. If you click it, the logout is automatically.</p>
      <br>
      <p><mat-icon style="color:darkgray">quiz</mat-icon>&nbsp;<b>How do I change my username, email or password?</b></p>
      <p>Make sure you are logged into the website:</p>
      <ol>
        <li>Please go to “My Profile” menu</li>
        <li>Click “Edit” button</li>
        <li>From here you can change your password, username or email address</li>
      </ol>
      <br>
      <p><mat-icon style="color:darkgray">quiz</mat-icon>&nbsp;<b>Are my recipes private or can other users see them?</b></p>
      <p>Your recipes you keep in MyCookieBook account are private. No one else can see the recipes.</p>
      <br>
      <p><mat-icon style="color:darkgray">quiz</mat-icon>&nbsp;<b>How do I create a recipe?</b></p>
      <p>To create a new recipe, press the plus in the navigation bar to the left of ’Recipe'. The recipe can then be
        created. These are mandatory fields for Category, Title, Author, Difficulty level, Ingredients and Steps.</p>
      <br>
      <p><mat-icon style="color:darkgray">quiz</mat-icon>&nbsp;<b>How do I find a recipe?</b></p>
      <p>There are several ways to find a recipe:</p>
      <ol>
        <li>You can access a category via the Start page. Afterwards, you will be shown all the recipes of these.</li>
        <li>In the navigation bar there is a field ’Recipe'. When you click, all possible categories and subcategories
          appear for selection, which also take you to the overview.</li>
        <li>Next to the field ’Recipe' there is a search field in the navigation bar. In this you can search for key
          words to display matching recipes.</li>
      </ol>
      <p>In the overview page, you can now select a recipe to get a detailed view.</p>
      <br>
      <p><mat-icon style="color:darkgray">quiz</mat-icon>&nbsp;<b>How do I edit a recipe?</b></p>
      <p>In the detailed view of a recipe you can edit a recipe by clicking on the button at the bottom of the page ’Edit'.</p>
      <br>
      <p><mat-icon style="color:darkgray">quiz</mat-icon>&nbsp;<b>How do I delete a recipe?</b></p>
      <p>Deleting a recipe is equivalent to editing it. There is a button to delete at the bottom of the recipe detail view.</p>
      <br>
      <p><mat-icon style="color:darkgray">quiz</mat-icon>&nbsp;<b>How do I mark a recipe as a favourite?</b></p>
      <p>To mark a recipe as a favorite, there are two options. In the recipe overview page, the heart on the left can
        be clicked. As a result, it is both favored and removed from the favorites list. This is also possible in the
        detailed view to the right of the author.</p>

      <br>
    </mat-card-content>
  </mat-card>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
</body>
<footer>
  <app-footer></app-footer>
</footer>

<router-outlet></router-outlet>
