<header>
  <app-navbar></app-navbar>
</header>
<body>
<mat-grid-list cols="2" rowHeight="6:1">
  <mat-grid-tile colspan="1" rowspan="3">
    <!--<app-profile-data></app-profile-data>-->

    <mat-card>
      <mat-card-header>
        <mat-card-title>My Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!--<mat-grid-list cols="2" rowHeight="80px">
          <mat-grid-tile colspan="1" rowspan="1">
            <b>Username</b>
          </mat-grid-tile>
          <mat-grid-tile colspan="1" rowspan="1">
            <mat-form-field hideRequiredMarker="false" floatLabel="auto">
              <mat-label>Username</mat-label>
              <input matInput required>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>-->
        <p></p>
        <div [hidden]="edit">
          <b>Username</b> &nbsp; {{username_old}}
        </div>
        <div [hidden]="!edit">
          <mat-form-field hideRequiredMarker="false" floatLabel="always">
            <mat-label><b>Username</b></mat-label>
            <input matInput (keyup)="inputUsername($event)" [formControl]="name" required>
            <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
          </mat-form-field>
        </div>
        <p></p>
        <div [hidden]="edit">
          <b>E-Mail</b> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; {{usermail_old}}
        </div>
        <div [hidden]="!edit">
          <mat-form-field hideRequiredMarker="false" floatLabel="always">
            <mat-label><b>E-Mail</b></mat-label>
            <input matInput (keyup)="inputUsermail($event)" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessageMail()}}</mat-error>
          </mat-form-field>
        </div>
        <p></p>
        <div [hidden]="edit">
          <b>Password</b> &nbsp;&nbsp; ********
        </div>
        <div [hidden]="!edit">
          <button mat-button>
            Change Password
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    <!--<button (click)="hidden=!hidden">Text anzeigen</button>
    <p [hidden]="hidden">{{variable}}</p>-->

  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="3">
    <mat-card>
      <img mat-card-image src="https://raw.githubusercontent.com/MyCookieBook/CookieBookFE/master/src/pictures/avatar.jpg">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <div class="div-margin" [hidden]="edit">
      <button mat-raised-button (click)="edit=true">Edit</button>
    </div>
    <div class="div-margin" [hidden]="!edit">
      <button mat-raised-button color="{{color}}" (click)="clickSave()">Save</button>
      &nbsp; &nbsp; &nbsp;
      <button mat-raised-button (click)="clickCancel()">Cancel</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
</body>
<footer>
  <app-footer></app-footer>
</footer>
<router-outlet></router-outlet>
