<header>
  <app-navbar></app-navbar>
</header>
<body>
<mat-grid-list cols="2" rowHeight="6:1">
  <mat-grid-tile colspan="1" rowspan="4">
    <mat-card>
      <mat-card-header>
        <mat-card-title><b>My Profile</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p></p>
        <div [hidden]="edit">
          <b>Username</b> &nbsp; {{username_old}}
        </div>
        <div [hidden]="!edit">
          <mat-form-field hideRequiredMarker="false" floatLabel="always">
            <mat-label><b>Username</b></mat-label>
            <input matInput (keyup)="inputUsername($event)" [formControl]="name" required>
            <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
          </mat-form-field>
        </div>
        <p></p>
        <div [hidden]="edit">
          <b>E-Mail</b> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; {{usermail_old}}
        </div>
        <div [hidden]="!edit">
          <mat-form-field hideRequiredMarker="false" floatLabel="always">
            <mat-label><b>E-Mail</b></mat-label>
            <input matInput (keyup)="inputUsermail($event)" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessageMail()}}</mat-error>
          </mat-form-field>
        </div>
        <p></p>
        <div [hidden]="edit">
          <b>Password</b> &nbsp;&nbsp; ********
        </div>
        <div [hidden]="!edit">
          <mat-expansion-panel hideToggle (opened)="initChangePassword()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Change Password
                <mat-icon>edit</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              <mat-form-field hideRequiredMarker="false" floatLabel="always">
                <mat-label>Old Password</mat-label>
                <input matInput (keyup)="inputPasswordOld($event)" [type]="hidePwOld ? 'password' : 'text'"
                       placeholder="Enter your old Password" [formControl]="pw_old" required>
                <mat-error *ngIf="pw_old.invalid">{{getErrorMessagePasswordOld()}}</mat-error>
                <button mat-icon-button
                        matSuffix (click)="hidePwOld = !hidePwOld"
                        [attr.aria-label]="'Hide password old'"
                        [attr.aria-pressed]="hidePwOld">
                  <mat-icon>{{hidePwOld ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field hideRequiredMarker="false" floatLabel="always">
                <mat-label>New Password</mat-label>
                <input matInput (keyup)="inputPasswordNew($event)" [type]="hidePwNew ? 'password' : 'text'"
                       placeholder="Enter your new Password" [formControl]="pw_new" required>
                <mat-error *ngIf="pw_new.invalid">{{getErrorMessagePasswordNew()}}</mat-error>
                <button mat-icon-button
                        matSuffix (click)="hidePwNew = !hidePwNew"
                        [attr.aria-label]="'Hide password new'"
                        [attr.aria-pressed]="hidePwNew">
                  <mat-icon>{{hidePwNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field hideRequiredMarker="false" floatLabel="always">
                <mat-label>Confirm new Password</mat-label>
                <input matInput (keyup)="inputPasswordConfirm($event)" [type]="hidePwConfirm ? 'password' : 'text'"
                       placeholder="Confirm your new Password" [formControl]="pw_confirm" required>
                <mat-error *ngIf="confirmInvalid()">{{getErrorMessagePasswordConfirm()}}</mat-error>
                <button mat-icon-button
                        matSuffix (click)="hidePwConfirm = !hidePwConfirm"
                        [attr.aria-label]="'Hide password confirm'"
                        [attr.aria-pressed]="hidePwConfirm">
                  <mat-icon>{{hidePwConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </p>
            <p>
              {{getErrorMessagePasswordConfirm()}}
            </p>
            <p class="div-margin">
              <button mat-raised-button color="{{colorPw}}" (click)="clickSavePw()">Save new Password</button>
              &nbsp; &nbsp;
              <button mat-raised-button (click)="clickCancelPw()">Cancel</button>
            </p>
            <p [hidden]="!savePw">Password is changed.</p>
          </mat-expansion-panel>
          <!--<button mat-button>
            Change Password
            <mat-icon>edit</mat-icon>
          </button>-->
        </div>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="4">
    <mat-card>
      <img mat-card-image
           src="https://raw.githubusercontent.com/MyCookieBook/CookieBookFE/master/src/pictures/avatar.jpg">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <div class="div-margin" [hidden]="edit">
      <button mat-raised-button (click)="clickEdit()">Edit</button>
    </div>
    <div class="div-margin" [hidden]="!edit">
      <button mat-raised-button color="{{color}}" (click)="clickSave()">Save</button>
      &nbsp; &nbsp; &nbsp;
      <button mat-raised-button (click)="clickCancel()">Cancel</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
</body>
<footer>
  <app-footer></app-footer>
</footer>
<router-outlet></router-outlet>
